.message {
    margin: 10px;
    border-radius: 15px;
    border: 1px solid salmon;
    background: bisque;
    list-style: none;
    text-align: left;
    padding: 10px 20px;
    max-width: 70vh;
}

.message-name {
    font-weight: bolder;
}

.message-date {
    font-family: monospace;
    margin-left: 10px;
}

.message-text {
    display: block;
}

h4 {
    margin: 0;
}

.error {
    color: red;
    box-shadow: 0 0 6px red;
    padding: 5pt 20pt;
    box-sizing: border-box;
    position: absolute;
    background: #ffc0c0;
    left: 10vw;
    right: 10vw;
}