.container {
    max-height: 90vh;
    overflow: auto;
}

.elements {
    border: 0;
    margin: 0;
    padding: 0;
}

.edgeline-loader {
    background-image: url("./btn-loading-back.svg");
    background-size: cover;
}