.container {
    max-height: 90vh;
    overflow: auto;
    position: relative;
}

.elements {
    border: 0;
    margin: 0;
    padding: 0;
}

.edgeline-loader {
    background-image: url("./btn-loading-back.svg");
    background-size: cover;
}

.item {
    overflow: hidden;
}

.items {
    padding: 0;
    border: none;
    margin: 0;
}